@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

        * {
            font-family: 'Style Script','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }

        body {
            /* font-size: 36px; */
        }
        
        h1 {

            color: white;
            background-color: darkcyan;
            text-align: center;

        }

        h2 {
            /* font-size: 1rem; */
        }


        em {
            border: 1px solid black;
            /* font-size: 1.5rem; */
        }

        section {
            border: 1px dashed black;
            margin: 4%;
            /* margin-left  */
            padding: 4%;
            /* % px em rem vh vw */
        }

        b {
            background-color: coral;

        }


        ul li {
            color: red;

        }

        .orderedItems {
            color: green;

        }

        img {
            /* by default img tag is an inline tag;
            What this means is ...horizontal padding, margins and borders will apply
            but vertical ones will not */

            width: 30%;
            display: block; 
            /* block display elements normally cause newlines and their width will generally
             span 100% of the screen  */
 
            /* float: right; */
        }

        footer {
            background-color: black;
            color: white;
            height: 23vh;
        }

     