@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,500,800&display=swap');

* {
  font-family: 'Montserrat';
}

main {
  display:flex;
}

.card {
  background-color: lightgoldenrodyellow;
  border: 5px solid #80D9E0;
  border-radius: .5rem;
  margin-right: 20px;
  flex-basis: 300px;
}

.title {
  font-size: 1.5em;
  background-color: #80D9E0;
  margin: 0;
}

p {
  margin-left: 20px;
  font-size: 1.5em;
  margin-right: 20px;
  text-align: center;
}

.card div {
  text-align: center;
}

/*
************************************
********** NTH-CHILD DEMO **********
************************************
*/

/* The first p tag */


/* The last element, regardless of tag name */


/* Every third element, regardless of type */


/* Every third element, starting at the first element, regardless of type */

/* All odd elements, regardless of type */


/* 
Elements from 3rd to 6th. 
- First case: Select all elements 3rd and after. 
- Second case: Select all elements up to 6 
*/

/* #first > p - this would pick every p under the #first id
div > p - this would choose every p under a div
div > p:first-child - this would choose every first p in a div
#first > p:first-child - this would be every first p that is the first element under the #first id
#first > p:first-of-type - this would be every first p under the #first id */

/* the first p tag of the first div*/
#first > p:first-of-type {
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;
}

/*the last p tag of the second div*/
#last > p:last-child{
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;
}

/* every third p element*/
#threes > p:nth-child(3n){
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;
}

/*every third p element, starting at 1*/
/* remember n starts at 0*/
#formula > p:nth-child(3n + 1){
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;

}

#odds > p:nth-child(odd) {
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;
}

#range > p:nth-child(n + 3):nth-child(-n + 6){
  color: #587cd1;
  background-color: #FFCB7A;
  border-radius: .2rem;
}