@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body{
    background-color: #FFF4F1;
    font-family: 'Monoton', cursive;
}

h1{
    color : #F47068;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    border: 4px dotted #F47068;
}

h2{
    text-align: center;
    font-size: 2rem;
    animation: animate 1.5s linear infinite;
    color:#FFC24B;
}

#centerArea{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.gameArea{
    width: 200px;
    height: 200px;
    border: 4px dotted black;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    color: #1697A6; 
    text-align: center;
}

a{
    text-decoration: none;
}

#tictactoe:hover{
    opacity: 50%;
    cursor: pointer;
}

#snake:hover{
    opacity: 50%;
    cursor: pointer;
}

#connectfour:hover{
    opacity: 50%;
    cursor: pointer;
}
@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0